<html>
	<head>
		<title>Tima Bank</title>
		
		<link rel="stylesheet" href="../static/css/ui-lightness/jquery-ui-1.10.1.custom.min.css" />
		
		<script type="text/javascript" src="../static/js/lib/jquery.js"></script>
		<script type="text/javascript" src="../static/js/lib/jquery-ui.js"></script>
	</head>
	<body>
		<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
		<header id="header">
			<img class="avatar" src="" alt="" />
			<span class="name"></span>			
		</header>
		
					
		<div id="content"></div>
		
		<footer id="footer"></footer>
	</body>
</html>